# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS/Debug Files
[Ee]ngine/.vs/**
[Ee]ngine/Debug/*
[Ee]ngine/x64/*

# Engine Project Files
[Ee]ngine/[Cc]ore/Debug/**
[Ee]ngine/[Cc]ore/Release/**
[Ee]ngine/[Cc]ore/x64/**
[Ee]ngine/[Cc]ore/.vs/**

# Game Project Files
[Ee]ngine/[Gg]ame/Debug/*
[Ee]ngine/[Gg]ame/Release/*
[Ee]ngine/[Gg]ame/x64/*

# General Debug Data
*.pdb
*.ipdb
*.ilk
*.exe.recipe
*.log
*.tlog
*.lastbuildstate
*.idb
